<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>934730118795-8g2v6psi77i7m1uv2eh1jenstucsvgvg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.934730118795-8g2v6psi77i7m1uv2eh1jenstucsvgvg</string>
	<key>API_KEY</key>
	<string>AIzaSyB2pj4iIMy1Q6Cmgy6rV-gRs6gDW-t-aUI</string>
	<key>GCM_SENDER_ID</key>
	<string>934730118795</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.StephenRomero.Snapchat</string>
	<key>PROJECT_ID</key>
	<string>snapchat-62f56</string>
	<key>STORAGE_BUCKET</key>
	<string>snapchat-62f56.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:934730118795:ios:589a08ff33ed329c</string>
	<key>DATABASE_URL</key>
	<string>https://snapchat-62f56.firebaseio.com</string>
</dict>
</plist>